* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f1faeeff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(69, 123, 157, 1);
  color: rgba(241, 250, 238, 1);
}

.header-content {
  margin: 15px 50px;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 50px;
  margin-left: 40px;
}

#menu {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(241, 250, 238, 1);
}

.middle-content {
  height: 700px;
  background-color: rgba(241, 250, 238, 1);
  color: hsla(215, 50%, 23%, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cabeca {
  width: 300px;
}

#middle-text {
  text-align: center;
}

#paragraph-name {
  font-size: 40px;
  color: rgba(230, 57, 70, 1);
}

/* #Background06 {
  background-image: url(./Conteudo-portifolio/Background-06.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
} */

.section-sobre-mim {
  height: 700px;
  margin: 0 25px;
}



#sobre-mim-title {
  text-align: center;
  color: hsla(215, 50%, 23%, 1);
}

.sobre-mim-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.sobre-mim {
  max-width: 50%;
}

.skills-container {
  margin-left: 25px;
}

.skills-img {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(29, 53, 87, 1);
  border-radius: 10px;
  padding: 15px;
}

.icone {
  width: 80px;
  margin: 15px;
}

.section-project {
  height: 700px;
  color: rgba(29, 53, 87, 1);
  text-align: center;
  background-color: rgba(241, 250, 238, 1);
}

.section-contact {
  height: 150px;
  background-image: url(./Conteudo-portifolio/Background-06.svg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

#contact-title {
  text-align: center;
  color: hsla(215, 50%, 23%, 1);
}

#footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 270px;
}

/* .fa-brands {
  color: #f1faeeff;
} */
